/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600;700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(353, 98%, 67%);
  --first-color-alt: hsl(353, 50%, 47%);
  --gradient-color: linear-gradient(90deg, var(--first-color),var(--first-color-alt));
  --black-color: hsl(353, 90%, 16%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat Alternates", sans-serif;
  --biggest-font-size: 2.5rem;
  --normal-font-size: .938rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 5.5rem;
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--black-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.main {
  overflow: hidden;
}

/*=============== HEADER & NAV ===============*/
.header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: transparent;
  z-index: var(--z-fixed);
}

.nav{
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: flex;
  align-items: center;
  column-gap: .25rem;
  color: var(--black-color);
}

.nav__logo i {
  font-size: 2rem;
}

.nav__logo span{
  font-weight: var(--font-semi-bold);
}

.nav__toggle,
.nav__close{
  display: flex;
  font-size: 1.5rem;
  cursor: pointer;
}


/* Navigation for mobile devices */
@media screen and (max-width: 1150px){
  .nav__menu{
    position: fixed;
    top: -120%;
    left: 0;
    background-color: hsla(353, 98%, 90%, .4);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    width: 100%;
    padding-block: 5rem 4rem;
    box-shadow: 0 4px 24px hsla(353, 90%, 4%, .2);
    transition: top .4s;
  }
}

.nav__list{
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

/*=============== NAVIGATION LINKS ===============*/
/*=============== NAVIGATION LINKS ===============*/
.nav__link {
  display: inline-block;
  color: var(--black-color);
  font-weight: var(--font-semi-bold);
  transition: transform .3s ease, color .3s ease;
}

.nav__link:hover {
  transform: scale(1.1);
  color: var(--black-color);
}

.nav__close{
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

/* Show menu */
.show-menu{
  top: 0;
}

/* Add blur header */
.blur-header::after{
  content: '';
  position: absolute;
  width: 1000%;
  height: 100%;
  background-color: hsla(353, 98%, 90%, .4);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  top: 0;
  left: 0;
  z-index: -1;
}


/*=============== HOME ===============*/
.home{
  position: relative;
}

.home__container{
  padding-top: 10.5rem;
  height: 100vh;
}

.home__bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: saturate(1.3);
}

.home__data{
  position: relative;
  text-align: center;
  z-index: var(--z-tooltip);
}

.home__title{
  font-size: var(--biggest-font-size);
  margin-bottom: 1rem;
}

.home__description{
  font-size: var(--font-medium);
  margin-bottom: 2rem;
}

.home__button{
  display: inline-flex;
  background: var(--gradient-color);
  color: var(--black-color);
  font-weight: var(--font-semi-bold);
  padding: 1rem 2rem;
  border-radius: .5rem;
  transition: box-shadow .4s;
}

.home__button:hover{
  box-shadow: 0 16px 48px hsla(353, 90%, 56%, .4);
}

.home__lantern-1,
.home__lantern-2{
  position: absolute;
  width: 50px;
}

.home__lantern-1{
  top: 2.5rem;
  right: .5rem;
  rotate: 15deg;
}

.home__lantern-2{
  left: .75rem;
  bottom: -5rem;
  rotate: -15deg;
}

.home__images img{
  position: absolute;
  max-width: initial;
  width: 800px;
  right: -9.2rem;
  bottom: 0;
  filter: saturate(1.3);
}

/* Sakura petals */
.sakura-petals{
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 10000;
  pointer-events: none;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px){
  .container{
    margin-inline: 1rem;
  }

  .home__title{
    font-size: 2rem;
  }
}

@media screen and (min-width: 350px) and (max-height: 680px){
  .home__container{
  height: 700px;
}
}  

/* For medium devices */
@media screen and (min-width: 576PX){
  .home__data{
    max-width: 380px;
    margin-inline: auto;
  }

  .home__images img{
    width: initial;
    right: 0;
  }
}

/* For large devices */
@media screen and (min-width: 1150px){
  .container{
    margin-inline: auto;
  }

  .nav{
    height: calc(var(--header-height) + 2rem);
  }

  .nav__toggle,
  .nav__close{
    display: none;
  }

  .nav__list{
    flex-direction: row;
    column-gap: 4rem;
  }

  .home__container{
    height: 960px;
  }

  .home__data{
    max-width: 610px;
    text-align: initial;
    margin: 0;
  } 

  .home__description{
    padding-right: 8rem;
    margin-bottom: 3rem;
  }

  .home__lantern-1,
  .home__lantern-2{
    width: 80px;
  }

  .home__lantern-1{
    top: 6.5rem;
    right: 4rem;
  }

  .home__lantern-2{
    left: initial;
    right: 14rem;
    bottom: -3.5rem;
  }

  ::-webkit-scrollbar{
    width: .6rem;
    background-color: hsl(353, 12%, 10%);
  }

  ::-webkit-scrollbar-thumb{
    background-color: hsl(353, 12%, 25%);
  }

}

/* For 2K resolutions (2048 x 1152) */
@media screen and (min-width: 2048px) and (min-height: 1100px){
  .container{
    max-width: 1300px;
  }

  .home__container{
    height: 100vh;
    display: grid;
  }

  .home__data{
    align-self: center;
  }  
}

/* For taller devices */
@media  screen and (max-width: 1150px) and (min-height: 900px){
  .home__container{
    display: grid;
  }

  .home__data{
    align-self: center;
  }
  
}
